
.hero{
    position: relative;
      min-height: 100vh;
  width: 100%;
}
.hero .animate-hand{
    position: relative;
    display: inline-block;
    animation: shakehand 1s linear infinite;
}
.hero  .content-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
        color: #fff;
        text-align: center;
}
.hero  .content-box p{

    font-size: 20px;
    line-height: 28px;
}
.hero  .content-box h1{
    margin: 10px auto;
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}
.hero .object-box{
border: 1px solid red;
min-height: 350px;
width: 100%;
}
@keyframes shakehand {
    0%,100%{
        transform: rotate(0deg);
    }
      50%{
        transform: rotate(15deg);
    }
}