*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
  background-color: #000;
}
.container{
  max-width: 1200px;
}
.container-fluid,.container{
 width: 100%;
  margin: auto;
  display: block;
  padding: 0px 15px;
}
a{
  text-decoration: none;
}